@model GhostDrive.Application.Models.ViewModels.FilesViewModel

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@inject IHtmlLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = Localizer["FilesTitle"];
}

<br />

<div align="center" id="myCanvasContainer" @{if (!Model.Tags.Any())
                                             {
                                                 @: hidden
                                             }
                                           }>
    <canvas width="600" height="200" id="myCanvas">
        <ul>
            @foreach (var tag in Model.Tags)
            {
                <li><a asp-controller="Files" asp-action="Index" asp-route-tag="@tag">@tag</a></li>
            }
        </ul>
    </canvas>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadModal">
    <i class="fas fa-plus fa-lg"></i>
</button>

<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["FileNameLabel"]
            </th>
            <th>
                @Localizer["FileUploadDateLabel"]
            </th>
            <th>
                @Localizer["FileSizeLabel"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Files)
        {
            <tr onclick="window.location='@Url.Action("Details", "Files", new {id = item.Id})';">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UploadDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SizeBytes)
                </td>
                <td class="row">
                    <div class="col-md-2 col-md-offset-6 fileActionButton">
                        <button type="button" class="btn btn-info"
                                onclick="share(event, @item.Id, '@SharedLocalizer["ShortLinkGenerating"].Value')"
                                data-toggle="tooltip" data-placement="bottom" title="@SharedLocalizer["ShareButton"]">
                            <i class="fas fa-share-alt fa-lg"></i>
                        </button>
                    </div>
                    <div class="col-md-2 fileActionButton">
                        <form asp-action="Download" asp-controller="FileTransfer" asp-route-id="@item.Id" method="post">
                            <button type="submit" class="btn btn-success"
                                    data-toggle="tooltip" data-placement="bottom" title="@SharedLocalizer["DownloadButton"]">
                                <i class="fas fa-download"></i>
                            </button>
                        </form>
                    </div>
                    <div class="col-md-2 fileActionButton">
                        <form asp-action="Delete" asp-controller="FileTransfer" asp-route-id="@item.Id" method="post">
                            <button type="submit" class="btn btn-danger"
                                    data-toggle="tooltip" data-placement="bottom" title="@SharedLocalizer["DeleteButton"]">
                                <i class="far fa-trash-alt fa-lg"></i>
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Upload Modal -->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-controller="FileTransfer" asp-action="Upload" class="dropzone" id="UploadForm" enctype="multipart/form-data">
                    <div class="dz-message" data-dz-message><span>@Localizer["DropzoneTitle"]</span></div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<partial name="_ShareModal" />

@section Scripts {
    <script src="~/js/files.js" asp-append-version="true"></script>
    <script src="~/js/shareModal.js" asp-append-version="true"></script>
}
