@model IEnumerable<GhostDrive.Application.Models.FileDto>

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@inject IHtmlLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = Localizer["FilesTitle"];
}

<br />

<div align="center" id="myCanvasContainer">
    <canvas width="600" height="200" id="myCanvas">
        <ul>
            <li><a href="#">Fish</a></li>
            <li><a href="#">Fish</a></li>
            <li><a href="#">Fish</a></li>
            <li><a href="#">Fish</a></li>
            <li><a href="#">Fish</a></li>
            <li><a href="#">Fish</a></li>
            <li><a href="#">Fish</a></li>
        </ul>
    </canvas>
</div>

<form method="post" asp-controller="FileTransfer" asp-action="Upload" class="dropzone" id="UploadForm" enctype="multipart/form-data">
    <div class="dz-message" data-dz-message><span>@Localizer["DropzoneTitle"]</span></div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["FileNameLabel"]
            </th>
            <th>
                @Localizer["FileUploadDateLabel"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UploadDate)
                </td>
                <td style="float: right;">
                    <div style="display: inline-block">
                        <form asp-action="Delete" asp-controller="FileTransfer" asp-route-id="@item.Id" method="post">
                            <input type="submit" value=@SharedLocalizer["DeleteButton"] class="btn btn-danger" />
                        </form>
                    </div>
                    <div style="display: inline-block">
                        <form asp-action="Download" asp-controller="FileTransfer" asp-route-id="@item.Id" method="post">
                            <input type="submit" value=@SharedLocalizer["DownloadButton"] class="btn btn-success" />
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var myDropzone = Dropzone.forElement("#UploadForm");
            myDropzone.on("complete",
                function () {
                    location.reload();
                });
            try {
                TagCanvas.textColour = '#ff0000';
                TagCanvas.outlineColour = '#ff00ff';
                TagCanvas.outlineThickness = 1;
                TagCanvas.depth = 0.75;
                TagCanvas.maxSpeed = 0.1;
                TagCanvas.clickToFront = 1000;
                TagCanvas.Start('myCanvas');
            } catch (e) {
                document.getElementById('myCanvasContainer').style.display = 'none';
            }
        });
    </script>
}
