@model IEnumerable<GhostDrive.Application.Models.FileDto>

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["FilesTitle"];
}

<table class="table">
    <thead>
    <tr>
        <th>
            @Localizer["FileNameLabel"]
        </th>
        <th>
            @Localizer["FileUploadDateLabel"]
        </th>
        <th>
            @Localizer["FileSizeLabel"]
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <file-row file-id="@item.Id">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SizeBytes)
            </td>
            <td class="fileActionGroup" style="border: none">
                <div class="fileActionButton">
                    <form asp-action="Download" asp-controller="FileTransfer" asp-route-id="@item.Id" method="post">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-download"></i>
                        </button>
                    </form>
                </div>
            </td>
        </file-row>
    }
    </tbody>
</table>


@await Component.InvokeAsync("TechSupport", new { userName = User.Identity.Name })

@section Scripts {
    <script src="~/js/techSupport.js" asp-append-version="true"></script>
}
